<% content_for :stylesheet do %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/album.css" rel="stylesheet">
<% end %>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below?its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>

        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>

        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
        <div class="col-md-4">
          <%= render "card_img" %>
        </div>
      </div>
    </div>
  </div>

</main>
